@model Artity.Web.ViewModels.Offert.OffertViewModel

@{
    ViewData["Title"] = "Offert";
}
    <div class="text-center">
        <h1>Offert</h1>
        <h4>@Model.Title</h4>
        <hr />
    </div>

    <div class="container border p-1 mb-2 pr-2 mx-auto border-secondary bg-light">
        <div class="row mx-auto">
            <div class="col-md-4 text-left pt-4  text-center  font-weight-bold "><h5>Review</h5> </div>
            <div class="col-md-8"><p class="tab-content p-2">@Model.Review</p></div>
            <div class="col-md-4 text-left pt-4 text-center text-uppercase font-weight-bold "><h5>Features</h5> </div>
            <div class="col-md-8"><p class="tab-content p-2">@Model.Features</p></div>     
        </div>
        <div class="row mx-auto text-center mt-4">
            <div class="col-md-3  "> <h6><i class="fa fa-phone"></i> @Model.Tel</h6> </div>
            <div class="col-md-3"> <h6><i class="fa fa-dollar"></i> @Model.Price</h6></p></div>
            <div class="col-md-3"> <h6><i class="fa fa-broadcast-tower"></i> @Model.Town</h6></p></div>
            <div class="col-md-3"> <h6><i class="fa fa-ticket"></i> @Model.Contract</h6></p></div>

        </div>
        <div class="text-center pb-2">
            <a class="btn btn-info mr-1" asp-action="Edit" asp-controller="Offert" asp-route-offertId="@Model.Id">Edit</a>
            <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Back</a>
        </div>
    </div>


