@model Artity.Web.ViewModels.Performence.PerformenceViewModel

    <partial name="_SearchBarPartial" model="this.Model.Categories" />

<section id="team" class="pb-5 mt-3 mb-3">
    <div class="container">
        <h5 class="section-title h2">All performence</h5>
        <div class="row">

            @foreach (var performence in @Model.Performences)
            {
                <div class="col-xs-12 col-sm-6 col-md-4" onclick="/">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="@performence.PerformencePhotoLink" alt="card image"></p>
                                        <h4 class="card-title">@performence.Title</h4>

                                        <h6 class="card-text pt-2"><i class="fas fa-star"></i> @performence.Rating %</h6>
                  
                                    </div>
                                </div>
                            </div>
                            <div class="backside" >
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">@performence.Title</h4>
                                        <p class="card-text">@performence.SmallDescription ...</p>
                                        <a asp-controller="Performence" asp-action="Profile" asp-route-id="@performence.Id" class="btn btn-primary btn-sm mt-3 mb-5"><i class="fa fa-plus text-white "></i></a>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook" style="font-size:1.5em"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter " style="font-size:1.5em"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-youtube" style="font-size:1.5em"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    <div class="btn-group r" id="n-radiusn" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-secondary "><i class="fas fa-star"></i> @performence.Rating %</button>                                     
                                        <button type="button" class="btn btn-secondary"> <i class="fas fa-theater-masks"></i>  @performence.АrtistNikname</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }


        </div>
    </div>
</section>
