@model Artity.Web.ViewModels.Performence.PerformneceProfileViewModel
@{
    ViewData["Title"] = "Peformence profile";
}
    <div class="container text-center text-uppercase">
        <h3>Performence</h3>
        <hr />
    </div>
<section id="team" class="pb-5 mt-3 mb-3 ">

    <div class="container">
        <h5 class="section-title h2" id="performence-name">@Model.Title</h5>
        <div class="row mx-auto ">
            <img class="col-md-3 img-fluid mr-md-3 " src="@Model.PerformencePhotoLink" alt="...">

            <div class=" bg-gradient-primary col-md-8 pt-4"><p class="text-justify"> @Model.Description</p></div>

        </div>



        <div class="row mx-auto">
            <div class="btn-group col-12   pt-3 pb-3" role="group" aria-label="Basic example">
                <partial name="_RatePerformencePartial" model="@Model.Id" />

                <button type="button" class="btn btn-secondary">
                    <i class="fab fa-creative-commons-by mr-1"></i> Creator: @Model.ArtistNikname
                </button>
                <button type="button" class="btn btn-secondary">
                    <i class="fas fa-dollar-sign"></i> Price:  @Model.Price
                </button>
                <a href="/CreatePerformenceOrder/@Model.Id/@Model.ArtistNikname" class="btn btn-secondary">
                    <i class="fas fa-reply-all"></i> Request:
                </a>
            </div>

        </div>

    </div>
</section>

@section Scripts {

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.uploadPreview.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.uploadPreview.min.js" asp-append-version="true"></script>


}
