@model IEnumerable<Artity.Web.ViewModels.Artist.ArtistAllViewModel>
@{
    ViewData["Title"] = "All artist";
}

<section class="container-fluid">
    <h1>Artists</h1>
    <div class="row col-md-10">
        @foreach (var artist in Model)
        {

            <div class="card mr-5 ">
                <img src="@artist.ProfilePicture.Link" alt="@artist.Nikname" style="width:100%">
                <h1>@artist.Nikname</h1>
                <p class="title">@artist.CategoryName</p>
                <div class="mx-1">@artist.AboutMe</div>
                <div class="col">
                    <a class="a" href="@artist.Youtube"><i class="fa fa-dribbble"></i></a>
                    <a class="a" href="@artist.Twiter"><i class="fa fa-twitter"></i></a>
                    <a class="a" href="@artist.Facebook"><i class="fa fa-facebook"></i></a>
                    <a class="a" href="@artist.LinkIn"><i class="fa fa-linkedin"></i></a>
                    <p><button class="btn btn-block btn-primary">More</button></p>
                </div>

            </div>

        }
    </div>
</section>
<h1>Helooo</h1>