@model Artity.Web.ViewModels.Artist.ArtistViewModel
@{
    ViewData["Title"] = "All artist";
}

<partial name="_SearchBarPartial" model="this.Model.Categories" />

<section id="team" class="pb-5 mt-3 mb-5">
    <div class="container">
        <h5 class="section-title h1">@this.ViewData["Title"]</h5>
        <div class="row  justify-content-center justify-content-lg-center justify-content-sm-center">

            @foreach (var artist in this.Model.ArtistAlls)
            {
                <div id="@artist.Id" class="card card-cascade mx-auto mr-5 mb-5 mb-lg-4">

                    <!-- Card image -->
                    <div  class="view view-cascade overlay">
                        <img class="card-img-top" src="@artist.ProfilePicture.Link" alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title "><strong id="artist-name">@artist.Nikname</strong></h4>
                        <!-- Subtitle -->
                        <h6 class="font-weight-bold indigo-text py-2">@artist.CategoryName</h6>
                        <!-- Text -->
                        <p class="card-text">
                            @artist.AboutMe
                        </p>

                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                    <i class="fa fa-facebook" style="font-size:1.5em">@artist.Facebook</i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                    <i class="fa fa-twitter " style="font-size:1.5em">@artist.Twiter</i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                    <i class="fa fa-youtube" style="font-size:1.5em">@artist.Youtube</i>
                                </a>
                            </li>

                        </ul>


                    </div>

                    <div id="a" class="card-footer text-muted text-center">
                        <a class="btn btn-small btn-dribbble">
                            <i class="fa fa-star"></i> Rating:<span id="ar">
                                <titlle id="id">0</titlle>

                            </span>
                        </a>
                    </div>
                    <div class="btn-group   text-white" role="group" aria-label="Basic example">
                        <a class="btn btn-secondary ">Performences</a>
                        <a asp-controller="Artist" asp-action="Profile" asp-route-id="@artist.Id" class="btn btn-secondary">Profile</a>
                        <a asp-action="Create" asp-controller="OrderArtist" asp-route-ArtistNikname="@artist.Nikname" class="btn btn-secondary">Request</a>
                    </div>
                    <!-- Card footer -->


                </div>
            }

            <!-- ./Team member -->
            <!-- Card Regular -->


        </div>
    </div>
</section>


@section Scripts {


    <script>


          

             

                    $(document).ready(function () {
                        $("#myInput").on("keyup", function () {
                            var value = $(this).val().toLowerCase();
                            $(".dropdown-menu li").filter(function () {
                                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                            });
                        });
                    });
    </script>
    <script>
        $(document).ready(function (e) {
            $('.search-panel .dropdown-menu').find('a').click(function (e) {
                e.preventDefault();
                var param = $(this).attr("href").replace("#", "");
                var concept = $(this).text();
                $('.search-panel span#search_concept').text(concept);
                $('.input-group #search_param').val(param);
            });
        });
    </script>

}