@model Artity.Web.Areas.Administration.ViewModels.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}
    <div class="container mt-2">
        <h1 class="text-center">@this.ViewData["Title"]</h1>
        <hr />
    </div>
<div class="container m-auto">
    <div class="row">
        <h3 class="p-1 text-center">Artist for approved</h3>
        <table class="table  table-bordered table-hover">
            <thead class="text-center  bg-secondary table-borderless text-uppercase text-white">
                <tr>
                    <th scope="col"><i class="fas fa-sort-numeric-down"></i></th>
                    <th scope="col">Artist nikname</th>
                    <th scope="col" alt="Status">Description</th>
                    <th scope="col">IsApproved</th>
                    <th scope="col"><i class="fas fa-thumbs-up"></i></i></th>
                    <th scope="col"><i class="fas fa-thumbs-down"></i></th>
                </tr>
            </thead>
            <tbody class="bg-info text-center table-bordered text-white">

                @{
                    int i = 0;
                }
                @foreach (var artistOrder in Model.allArtist)
                {
                    i++;
                    <tr>
                        <th scope="row">@i</th>
                        <td>@artistOrder.Nikname</td>
                        <td>@artistOrder.AboutMe</td>
                        <td>@artistOrder.IsApproved</td>
                        <td>
                            <a asp-action="Approved" asp-controller="Dashboard" asp-area="Administration" asp-route-id="@artistOrder.Id"
                               class="btn btn-danger btn-outline-danger text-white">
                                <i class="far fa-check-circle"></i>
                            </a>
                        </td>
                        <td>
                            <a asp-action="Refusal" asp-controller="Dashboard" asp-area="Administration" asp-route-id="@artistOrder.Id"
                               class="btn btn-danger btn-outline-danger text-white">
                                <i class="far fa-times-circle"></i>
                            </a>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row">
        <h3 class="p-1 text-center">Artist for delete</h3>
        <table class="table  table-bordered table-hover">
            <thead class="text-center  bg-secondary table-borderless text-uppercase text-white">
                <tr>
                    <th scope="col"><i class="fas fa-sort-numeric-down"></i></th>
                    <th scope="col">Artist nikname</th>
                    <th scope="col" alt="Status">Description</th>
                    <th scope="col">IsApproved</th>
                    <th scope="col"><i class="fas fa-thumbs-up"></i></i></th>
                    <th scope="col"><i class="fas fa-thumbs-down"></i></th>
                    <th scope="col"><i class="fas fa-thumbs-down"></i></th>
                    <th scope="col"><i class="fas fa-thumbs-down"></i></th>
                </tr>
            </thead>
            <tbody class="bg-info text-center table-bordered text-white">

                @{
                    int b = 0;
                }
                @foreach (var artists in Model.allArtistsForEdit)
                {
                    b++;
                    <tr>
                        <th scope="row">@b</th>
                        <td>@artists.Nikname</td>
                        <td>@artists.Email</td>
                        <td>@artists.NumberOfPerformances</td>
                        <td>@artists.NumberOfOfferts</td>
                        <td>@artists.CreatedOn</td>
                        <td>@artists.IsApproved</td>

                        <td>
                            <a asp-action="Delete" asp-controller="Dashboard" asp-area="Administration" asp-route-id="@artists.Id"
                               class="btn btn-danger btn-outline-danger text-white">
                                <i  class="far fa-times-circle"></i>
                            </a>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <h3 class="p-1 text-center">Performence for approved</h3>
        <table class="table  table-bordered table-hover">
            <thead class="text-center  bg-secondary table-borderless text-uppercase text-white">
                <tr>
                    <th scope="col"><i class="fas fa-sort-numeric-down"></i></th>
                    <th scope="col">Artist nikname</th>
                    <th scope="col" alt="Status">Description</th>
                    <th scope="col">IsApproved</th>
                    <th scope="col"><i class="fas fa-thumbs-up"></i></i></th>
                    <th scope="col"><i class="fas fa-thumbs-down"></i></th>
                </tr>
            </thead>
            <tbody class="bg-info text-center table-bordered text-white">

                @{
                    int c = 0;
                }
                @foreach (var artistOrder in Model.allPerformence)
                {
                    c++;
                    <tr>
                        <th scope="row">@c</th>
                        <td>@artistOrder.Title</td>
                        <td>@artistOrder.Description</td>
                        <td>@artistOrder.IsApproved</td>
                        <td>
                            <a asp-action="ApprovedPerformence" asp-controller="Dashboard" asp-area="Administration" asp-route-id="@artistOrder.Id"
                               class="btn btn-danger btn-outline-danger text-white">
                                <i class="far fa-check-circle"></i>
                            </a>
                        </td>
                        <td>
                            <a asp-action="RefusalPerfoermence" asp-controller="Dashboard" asp-area="Administration" asp-route-id="@artistOrder.Id"
                               class="btn btn-danger btn-outline-danger text-white">
                                <i class="far fa-times-circle"></i>
                            </a>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>